 <div class="row theme-base-0e">
                <div class="sidebar" >
                    <div class="sidebar-title" style=> <H3> Dashboard </H3></div>
                    {{today}}
                    
                    <nav class="sidebar-nav">
                        <ul ng-repeat="day in days">
                            <a class="sidebar-nav-item" href="" ng-click="update(day)">{{day.day}}</a>
                        <ul>
                    </nav>
                </div>
                <div class="content" >
                    <h3>Todays Tasks</h3>
                    <div class="spacer-s"></div>
                                <table style="width:100%">
                                    <!-- Set css for width of each td as 44% and the bottom padding as 10px -->
                                    <tr ng-repeat="eachTask in allTasks">
                                        <td>{{ eachTask.task }}</td>
                                        <td>{{ eachTask.category }}</td> 
                                        <td><button type="button" class="btn" ng-click="editTask(eachTask)" >Edit</button></td>
                                    </tr>
                                    </table>
                            <div class="spacer">
                                <div class="row">
                                <div class="col-md-5">
                                  <input type="text" placeholder="Task"  class="form-control" ng-model="task" required/>
                                </div>
                                <div class="col-md-5">
                                <input type="text" placeholder="Category"  class="form-control" ng-model="category" required/>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-success" ng-click="addTask()" >Add Task</button>
                                </div>
                                </div>
                            </div>
                            
                        <div>

                             <h4>For canvas!</h4>

                         </div>
                    
                </div>
     
     
     
</div>