    <div class="spacer"> </div>
                <div class="spacer"> </div>
                <div class="spacer"> </div>
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                              <div class="panel-heading">
                                <h3 class="panel-title">Login.</h3>
                              </div>
                              <div class="panel-body">
                                <div class="spacer-s"> </div>

                                <div class="input-group">
                                  <span class="input-group-addon" id="basic-addon1"> 
                                      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                    </span>
                                  <input type="text" class="form-control" placeholder="Username" ng-model="username">
                                </div>
                                <div class="spacer-s"> </div>
                                <div class="input-group">
                                  <span class="input-group-addon" id="basic-addon1"> 
                                      <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                                    </span>
                                  <input type="password" class="form-control" placeholder="Password" ng-model="password">
                                </div>
                                  <hr/>
                                  <div class="row">
                                      <div class="col-md-3">
                                        </div>
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-success" style="width: 150px" ng-click="login()">Login</button>
                                        </div>
                                        <div class="col-md-3">
                                        </div>
                                  </div>
                              </div>

                        <div class="panel-footer"><div style="margin-left: 80px; margin-right:80px;">New Users! <a>Sign Up!</a> here</div></div>
                            </div>

                    </div>
    </div>